body {
    text-align: center;
    margin-top: 30px;
    font-family: "Courier";
    background-color: #ffbcbb;
    color: #f04639;
  }
  #foodquestion {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .food-item {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    color: #000000;
  }
  .food-item img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #f04639;
    object-fit: cover;
    padding: 10px;
  }
  .food-item label {
    display: block;
  }
  .button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    font-family: "courier";
    margin-bottom: 20px;
    background-color: #ffe3e1;
    color: #f04639;
    border-radius: 12px;
    border: 2px solid #ffe3e1;
  }
  .button:hover {
    background-color:#587035;
    color: #ffe3e1;
    border: 2px solid #8fb752;
  }
